---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" height="300" %}
  
  </div>
 <div class="card mt-4">

<div class="card-body">

<h3>The Story of Paradise Lost</h3>

<p>
Beginning with Satan's rebellion in Heaven and concluding with the expulsion of Adam and Eve from Eden, these engravings visualize the central narrative of Milton's epic. Together they demonstrate how eighteenth-century artists interpreted themes of free will, temptation, innocence, redemption, and divine justice.
</p>

<p>
Browse the collection to discover how individual illustrations connect to specific books of <em>Paradise Lost</em>, their engravers and illustrators, and the wider intellectual culture of late eighteenth-century Britain.
</p>

</div>

</div>
